nav{
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: white;
}
.logo {
    font-size: 32px;
    font-family: 'karla', 'sofia-pro', sans-serif;
    font-weight: bold;
    color: #3d3d3d;
    text-decoration: none;
}
.logo:hover {
    color: black;
}
li.nav{
    display: inline;
    font-family: 'nunito sans', sans-serif;
    font-size: 18px;
    color:#565656;
    margin-left: 100px;
    font-weight: 600;
}
li.nav:hover {
    color: black;
    font-weight: 600;
    cursor: pointer;
}
li.on {
    text-decoration: underline;
    color: black;
}


.container{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
}
img{
    width: 53%;
}
.bio {
    width: auto;
    margin-left: 3%;
    padding-top: 11%;
}
h1{
    font-family: 'Nunito Sans-Extra Bold', sans-serif;
    font-size: 68px;
}
p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 19px;
}


.section2 {
    margin-top: 8%;
}
.simplePleasures {
    width: 35%;
    margin-left: 10%;
}
.list {
    width: auto;
    margin-left: 11%;
    margin-top: 3%;
}
h2{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 44px;
}
ul{
    margin-left: 0;
}
li.sp {
    font-family: 'nunito sans', sans-serif;
    font-size: 18px;
    color: #252525;
    margin-left: -6%;
}


footer{
    display: flex;
    background-color: #F3F3F3;
    height: 225px;
    margin-top: 8%;
}
.social {
    display: inline-flex;
}
.socialIcon {
    width: 50px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

/*
Well written css.
Good use of flex.
Good use of container class, and nesting your sectioned content into the containers.
Proportionate scaling of images, good job.
Keep up with the clean code.
*/